<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdUbSp1x_jCyIUCGNYYVt-HBTL0u30lRk</string>
	<key>GCM_SENDER_ID</key>
	<string>885022132625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mottu.marvel.imMottuMobile</string>
	<key>PROJECT_ID</key>
	<string>immottumobile</string>
	<key>STORAGE_BUCKET</key>
	<string>immottumobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885022132625:ios:9133a9c2f56932af97f230</string>
</dict>
</plist>